<div  *ngIf="loginreload" class="flex-container container color-trinary">
  <mat-spinner color="#CFE8A9"></mat-spinner>
</div>
<div class="flex-container container color-primary" *ngIf="!loginreload">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <div class="p-grid p-justify-around p-col-12">
      <div class="p-col-4">
        <mat-card-content>
          <svg class="banner-login">
            <mask id="svgmask3">
              <circle fill="#FFFFFF" cx="75" cy="75" r="75"></circle>
              <circle fill="#FFFFFF" cx="75" cy="240" r="75"></circle>
              <circle fill="#FFFFFF" cx="220" cy="160" r="75"></circle>
            </mask>
            <image
              xlink:href="https://images.unsplash.com/photo-1534939561126-855b8675edd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
              mask="url(#svgmask3)"
            ></image>
          </svg>
        </mat-card-content>
      </div>
      <div class="p-col-5">
        <mat-card-content>
          <form
            class="flex-form"
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()"
          >
            <mat-form-field appearance="outline">
              <mat-label>Enter your email</mat-label>
              <input
                matInput
                placeholder="pat@example.com"
                formControlName="email"
                required
              />
              <!-- <mat-error *ngIf="this.email.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Enter your password</mat-label>
              <input
                matInput
                formControlName="password"
                [type]="hide ? 'password' : 'text'"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
            <mat-card-actions>
              <button mat-flat-button class="color-rest login-button dp-block">Login</button>
            </mat-card-actions>
          </form>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</div>
