<div  *ngIf="loginreload; else loginPage" class="flex-container container-full-all color-trinary loading">
  <mat-spinner></mat-spinner>
</div>
<ng-template #loginPage>
  <div class="height-100 color-primary">
    <div class="full-width language">
      <a [routerLink]="['/home-page']" class="back"><mat-icon>arrow_back</mat-icon>{{"home-page.home" | translate | titlecase}}</a>
      <a *ngIf="currentLanguage" (click)="changeLanguage(currentLanguage)"><img [src]="srcImages"></a>
    </div>
    <div class="container-100">
      <div class="flex-container mr-top-1">
        <mat-card>
          <mat-card-title>{{"home-page.login" | translate | titlecase}}</mat-card-title>
          <div class="p-grid p-justify-around p-col-12">
            <div class="p-col-4">
              <mat-card-content>
                <svg class="banner-login">
                  <mask id="svgmask3">
                    <circle fill="#FFFFFF" cx="75" cy="75" r="75"></circle>
                    <circle fill="#FFFFFF" cx="75" cy="240" r="75"></circle>
                    <circle fill="#FFFFFF" cx="220" cy="160" r="75"></circle>
                  </mask>
                  <image
                    xlink:href="https://images.unsplash.com/photo-1534939561126-855b8675edd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                    mask="url(#svgmask3)"
                  ></image>
                </svg>
              </mat-card-content>
            </div>
            <div class="p-col-5">
              <mat-card-content>
                <form
                  class="flex-form"
                  [formGroup]="loginForm"
                >
                  <mat-form-field appearance="outline">
                    <mat-label>{{"title.email" | translate | titlecase}}</mat-label>
                    <input
                      matInput
                      formControlName="email"
                      required
                    />
                    <mat-error *ngIf="this.loginForm.controls.email.hasError('required')">
                      {{"mat-error.fill-email" | translate | titlecase}}
                    </mat-error>
                    <mat-error *ngIf="this.loginForm.controls.email.hasError('email')">
                      {{"pattern.email" | translate | titlecase}}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>{{"title.password" | translate | titlecase}}</mat-label>
                    <input
                      matInput
                      formControlName="password"
                      [type]="hide ? 'password' : 'text'"
                    />
                    <mat-error *ngIf="this.loginForm.controls.password.hasError('required')">
                      {{"mat-error.fill-password" | translate | titlecase}}
                    </mat-error>
                    <mat-error *ngIf="this.loginForm.controls.password.hasError('maxlength')">
                      {{"pattern.pass-max" | translate | titlecase}}
                    </mat-error>
                    <mat-error *ngIf="this.loginForm.controls.password.hasError('minlength')">
                      {{"pattern.pass-min" | translate | titlecase}}
                    </mat-error>
                    <button
                      mat-icon-button
                      matSuffix
                      type="button"
                      (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide"
                    >
                      <mat-icon>{{
                        hide ? "visibility_off" : "visibility"
                      }}</mat-icon>
                    </button>
                  </mat-form-field>
                  <mat-card-actions align="center">
                    <button type="submit" mat-flat-button class="color-rest login-button" (click)="onSubmit()">{{"home-page.login" | translate | titlecase}}</button>
                  </mat-card-actions>
                  <mat-card-actions class="forgot-pass" align="center">
                    <a (click)="forgotPassword()">{{"other.text-3" | translate | titlecase}} ?</a>
                  </mat-card-actions>
                </form>
                <mat-card-actions align="center">
                  <a [routerLink]="['/register-page']">{{"title.route-register" | translate | titlecase}}</a>
                </mat-card-actions>
              </mat-card-content>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</ng-template>
