/* card-login */
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card {
  width: 60%;
  height: 60%;
}

/* form */
.flex-form {
  display: flex;
  flex-direction: column;
}

mat-card-title {
  text-align: center;
  padding: 2rem;
}

.banner-login {
  width: 600px;
  height: 400px;
}

image {
  width: 350px;
}

.login-button {
  padding: 2px 5rem;
}

.loading ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #c21010;
}

.language{
    padding: 10px 20px;
}

.language a img {
  width: 32px;
  height: 32px;
}

.language a{
    cursor: pointer;
}
