<mat-card-title>{{ dataMenu?.recipe_name | titlecase }}</mat-card-title>
<mat-dialog-content class="detail-menu">
    <h2>{{"menu-manage.descrip" | translate | titlecase}}</h2>
    <p>{{dataMenu?.description}}</p>
    <h2>{{"menu-manage.image" | translate | titlecase}}</h2>
    <div class="menu">
        <img [src]="dataMenu?.image" alt="image menu">
    </div>
    <div class="table-ingre">
        <table>
          <tr>
            <th>{{"menu-manage.ingred-name" | translate | titlecase}}</th>
            <th>{{"table.stock" | translate | titlecase}}</th>
            <th>{{"menu-manage.status" | translate | titlecase}}</th>
            <th>{{"menu-manage.quantity-used" | translate | titlecase}}</th>
          </tr>
          <tr *ngFor="let item of dataMenu?.ingredients">
            <td>
              <p>{{ item?.ingredient_id?.name }}</p>
            </td>
            <td class="i-stock">
              <p>{{ item?.ingredient_id?.stock }}</p>
            </td>
            <td class="i-status">
              <p>{{ "status."+item?.ingredient_id?.status | translate | titlecase }}</p>
            </td>
            <td class="i-quantity">
              <p>{{ item?.stock_used }}</p>
            </td>
          </tr>
        </table>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{"menu-manage.close-btn" | translate | titlecase}}</button>
</mat-dialog-actions>
