<div class="top-flex" *ngIf="addData; else notAddStock">
  <h2 mat-dialog-title>{{"stock-manage.add-stock" | translate | titlecase}}</h2>
  <button
    [mat-dialog-close]="true"
    matSuffix
    mat-icon-button
    [ngStyle]="{ color: 'red' }"
  >
    <mat-icon>clear</mat-icon>
  </button>
</div>
<ng-template #notAddStock>
  <div class="top-flex">
    <h2 mat-dialog-title>{{"stock-manage.edit-stock" | translate | titlecase}} : {{ dataStock?.name | titlecase }}</h2>
    <button
      [mat-dialog-close]="true"
      matSuffix
      mat-icon-button
      [ngStyle]="{ color: 'red' }"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</ng-template>
<mat-dialog-content [formGroup]="formStock">
  <mat-form-field class="full-width mr-bottom-1" appearance="fill">
    <mat-label>{{"menu-manage.ingred-name" | translate | titlecase}}</mat-label>
    <input type="text" matInput formControlName="name" />
    <mat-error *ngIf="this.formStock.controls.name.hasError('required')">
      {{"cart-dialog.error-message" | translate | titlecase}}
    </mat-error>
    <mat-error *ngIf="this.formStock.controls.name.hasError('minlength')">
      {{"pattern.name-min" | translate | titlecase}}
    </mat-error>
    <mat-error *ngIf="this.formStock.controls.name.hasError('pattern')">
      {{"pattern.text" | translate | titlecase}}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width mr-bottom-1" appearance="fill">
    <mat-label>{{"stock-manage.amount-stock" | translate | titlecase}}</mat-label>
    <input type="number" matInput formControlName="stock" />
    <mat-error *ngIf="this.formStock.controls.stock.hasError('required')">
      {{"cart-dialog.error-message" | translate | titlecase}}
    </mat-error>
    <mat-error *ngIf="this.formStock.controls.stock.hasError('min')">
      {{"stock-dialog.error-min" | translate | titlecase}}
    </mat-error>
    <mat-error *ngIf="this.formStock.controls.stock.hasError('pattern')">
      {{"pattern.number" | translate | titlecase}}
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" mat-button mat-dialog-close color="warn">{{"stock-manage.cancel-btn" | translate | titlecase}}</button>
  <button type="submit" mat-flat-button color="primary" (click)="onSubmit()">{{"stock-manage.submit-btn" | translate | titlecase}}</button>
</mat-dialog-actions>
