.dp-block {
  display: block;
  margin: 1.2rem 0;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu img {
  width: 200px;
  margin-bottom: 1.5rem;
}

mat-card-title {
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
}

h2 {
  font-weight: 500;
}

.detail-menu {
  width: 600px;
}

.desc {
  line-height: 2rem;
  text-align: justify;
}

.group-item {
  display: flex;
  justify-content: space-between;
}

.mat-flat-button.mat-addcart {
  color: #f0fff3;
  background-color: #388e3c;
}

.cart-form{
    display: flex;
    justify-content: space-around;
    height: 100px;
}

.cart-counter {
  width: 30%;
}

.cart-message{
  width: 60%;
}

.price-item p {
  margin-bottom: 0.5rem;
}

.price-item .discount{
  background-color: rgba(230, 72, 72, 0.3);
  color: #c21010;
  border-radius: 5px;
  padding: 3px;
  margin-right: 10px;
  font-size: 0.8rem;
}

.price-item .price{
  text-decoration: line-through;
  text-decoration-color: red;
}
