<h2 mat-dialog-title>Reset Password</h2>
<p class="pd-bottom-1">please enter your new password</p>
<mat-dialog-content class="mr-top-1">
    <form [formGroup]="resetForm">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{"title.email" | translate | titlecase}}</mat-label>
            <input
              matInput
              required
              formControlName="email"
              readonly="true"
            />
          </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{"title.password" | translate | titlecase}}</mat-label>
            <input
              matInput
              formControlName="password"
              [type]="hide ? 'password' : 'text'"
              cdkFocusInitial
            />
            <mat-error *ngIf="this.resetForm.get('password').invalid">{{"mat-error.fill-password" | translate | titlecase}}</mat-error>
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>close</button>
    <button mat-flat-button color="primary" (click)="resetPassword()">Reset Password</button>
</mat-dialog-actions>