<h2 mat-dialog-title>{{"validation.reset" | translate | titlecase}}</h2>
<p class="pd-bottom-1">{{"validation.text-pass" | translate | titlecase}}</p>
<mat-dialog-content class="mr-top-1">
    <form [formGroup]="resetForm">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{"title.email" | translate | titlecase}}</mat-label>
            <input
              matInput
              required
              formControlName="email"
              readonly="true"
            />
          </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{"title.password" | translate | titlecase}}</mat-label>
            <input
              matInput
              formControlName="password"
              [type]="hide ? 'password' : 'text'"
              cdkFocusInitial
            />
            <mat-error *ngIf="this.resetForm.controls.password.hasError('required')">
              {{"mat-error.fill-password" | translate | titlecase}}
            </mat-error>
            <mat-error *ngIf="this.resetForm.controls.password.hasError('maxlength')">
              {{"pattern.pass-max" | translate | titlecase}}
            </mat-error>
            <mat-error *ngIf="this.resetForm.controls.password.hasError('minlength')">
              {{"pattern.pass-min" | translate | titlecase}}
            </mat-error>
            <button
              mat-icon-button
              type="button"
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="button" mat-button mat-dialog-close>{{"login-first.cancel-btn" | translate | titlecase}}</button>
    <button type="submit" mat-flat-button color="primary" (click)="resetPassword()">{{"validation.reset-btn" | translate | titlecase}}</button>
</mat-dialog-actions>