<div class="top-flex" *ngIf="addNewMenu; else notAddMenu">
  <h2 mat-dialog-title>{{"menu-manage.add-menu" | translate | titlecase}}</h2>
  <button
    [mat-dialog-close]="true"
    matSuffix
    mat-icon-button
    [ngStyle]="{ color: 'red' }"
  >
    <mat-icon>clear</mat-icon>
  </button>
</div>
<ng-template #notAddMenu>
  <div class="top-flex">
    <h2 mat-dialog-title>{{"menu-manage.edit-menu" | translate | titlecase}} : {{ dataMenu?.recipe_name | titlecase }}</h2>
    <button
      [mat-dialog-close]="true"
      matSuffix
      mat-icon-button
      [ngStyle]="{ color: 'red' }"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</ng-template>
<mat-dialog-content [formGroup]="formMenu">
  <mat-form-field class="full-width mr-bottom-1" appearance="fill">
    <!-- name field -->
    <mat-label>{{"menu-manage.name" | translate | titlecase}}</mat-label>
    <input type="text" matInput formControlName="recipe_name" />
    <mat-error *ngIf="this.formMenu.controls.recipe_name.hasError('required')">
      {{"cart-dialog.error-message" | translate | titlecase}}
    </mat-error>
    <mat-error *ngIf="this.formMenu.controls.recipe_name.hasError('minlength')">
      {{"menu-error.error-length-recipe" | translate | titlecase}}
    </mat-error>
  </mat-form-field>
  <!-- description field -->
  <mat-form-field class="full-width mr-bottom-1" appearance="fill">
    <mat-label>{{"menu-manage.descrip" | translate | titlecase}}</mat-label>
    <textarea matInput formControlName="description"></textarea>
    <mat-error *ngIf="this.formMenu.controls.description.hasError('required')">
      {{"cart-dialog.error-message" | translate | titlecase}}
    </mat-error>
    <mat-error *ngIf="this.formMenu.controls.description.hasError('minlength')">
      {{"menu-error.error-length-desc" | translate | titlecase}}
    </mat-error>
  </mat-form-field>
  <!-- image field -->
  <mat-form-field class="full-width mr-bottom-1" appearance="fill">
    <mat-label>{{"menu-manage.image" | translate | titlecase}}</mat-label>
    <input type="url" matInput formControlName="image" />
  </mat-form-field>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <!-- price field -->
        <mat-form-field class="full-width mr-bottom-1" appearance="fill">
          <mat-label>{{"menu-manage.price" | translate | titlecase}}</mat-label>
          <input type="number" matInput formControlName="price" />
          <mat-error *ngIf="this.formMenu.controls.price.hasError('required')">
            {{"cart-dialog.error-message" | translate | titlecase}}
          </mat-error>
          <mat-error *ngIf="this.formMenu.controls.price.hasError('min')">
            {{"menu-error.error-price" | translate | titlecase}}
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <!-- status field -->
        <mat-form-field class="full-width mr-bottom-1" appearance="fill">
          <mat-label>{{"menu-manage.status" | translate | titlecase}}</mat-label>
          <mat-select name="labelStatus" formControlName="status">
            <mat-option *ngFor="let label of labelStatus" [value]="label.value">
              {{ label.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="this.formMenu.controls.status.hasError('required')">
            {{"cart-dialog.error-message" | translate | titlecase}}
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <!-- ingredients field -->
  <div formArrayName="ingredients">
    <div *ngFor="let item of ingredientss.controls; let i = index">
      <div [formGroupName]="i">
        <mat-label
          ><h1>{{"menu-manage.title-ingred" | translate | titlecase}} {{ i + 1 }}</h1></mat-label
        >
        <table class="mr-bottom-1">
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>{{"menu-manage.ingred-name" | translate | titlecase}}</mat-label>
                <mat-select
                  name="ingerdient_id"
                  formControlName="ingredient_id"
                >
                  <mat-option
                    *ngFor="let inger of allIngredients"
                    [value]="inger?.id"
                  >
                    {{ inger?.name | titlecase }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="this.ingredientss.at(i).get('ingredient_id').hasError('required')">
                  {{"cart-dialog.error-message" | translate | titlecase}}
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>{{"menu-manage.quantity" | translate | titlecase}}</mat-label>
                <input
                  type="number"
                  matInput
                  name="stock_used"
                  formControlName="stock_used"
                />
                <mat-error *ngIf="this.ingredientss.at(i).get('stock_used').hasError('required')">
                  {{"cart-dialog.error-message" | translate | titlecase}}
                </mat-error>
                <mat-error *ngIf="this.ingredientss.at(i).get('stock_used').hasError('min')">
                  {{"menu-error.error-min-ingred" | translate | titlecase}}
                </mat-error>
              </mat-form-field>
            </td>
            <td class="delete-button" *ngIf="ingredientss?.length > 1">
              <button mat-flat-button color="warn" (click)="deleteIngred(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <button
    mat-raised-button
    color="primary"
    style="margin-right: 20px"
    (click)="addNewIngredients()"
    type="button"
  >
    <mat-icon>add</mat-icon> {{"menu-manage.title-ingred" | translate | titlecase}}
  </button>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" mat-button mat-dialog-close color="warn">{{"menu-manage.cancel-btn" | translate | titlecase}}</button>
  <button type="submit" mat-flat-button color="primary" (click)="onSubmit()">{{"menu-manage.submit-btn" | translate | titlecase}}</button>
</mat-dialog-actions>
