<mat-card>
    <div [ngClass]="itemMenu?.available == 0 ? 'greyout' : ''">
      <img
        *ngIf="itemMenu?.image != ''; else menuImageNone"
        class="dp-block"
        src="{{ itemMenu?.image }}"
        alt="menu image"
      />
      <ng-template #menuImageNone>
        <img
          class="dp-block"
          src="https://images.unsplash.com/photo-1534939561126-855b8675edd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
          alt="menu image"
        />
      </ng-template>
    </div>
    <mat-card-title>{{ itemMenu?.recipe_name | titlecase }}</mat-card-title>
    <mat-card-content>
      {{ itemMenu?.description }}
    </mat-card-content>
  </mat-card>
  
