<h2 mat-dialog-title>{{"menu-manage.title-discount" | translate | titlecase}} : {{data?.name | titlecase}}</h2>
<mat-dialog-content>
    <mat-form-field class="full-width mr-bottom-1" appearance="fill">
        <mat-label>{{"menu-manage.amount" | translate | titlecase}}</mat-label>
        <input type="number" matInput [formControl] = "formDiscount" />
        <mat-error *ngIf="this.formDiscount.invalid">
          This field is required !
        </mat-error>
      </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="button" mat-button (click)="onCancel()" color="warn">{{"menu-manage.cancel-btn" | translate | titlecase}}</button>
    <button type="submit" mat-flat-button color="primary" (click)="onSubmit()">{{"menu-manage.submit-btn" | translate | titlecase}}</button>
  </mat-dialog-actions>
