.cart-page h1 {
  text-align: center;
}

.divided {
  display: flex;
  justify-content: space-between;
}

.cart {
  width: 68%;
}

.item {
  display: flex;
  justify-content: space-between;
}

.image img {
  width: 130px;
  height: 100px;
  object-fit: fill;
  object-position: 100% 0;
  border-radius: 10px;
}

.item-detail {
  width: 140px;
  padding-left: 20px;
}

.item-detail note{
  word-break: normal;
  text-align: justify;
}

.amount {
  width: 100px;
}

.amount h4 {
  text-align: center;
}

.item-amount {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-amount span {
  font-size: 1.4rem;
  font-weight: 500;
}

.item-total {
  width: 130px;
}

.item-total h1{
  font-size: 1.2rem;
}

.order-button {
  width: 150px;
  height: 10%;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.mat-flat-button.mat-edit {
  color: #f0fff3;
  background-color: #388e3c;
}

.greyout {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
.none {
  text-align: center;
}

.none img {
  width: 400px;
}

.payment {
  width: 30%;
  height: 250px;
}

.payment mat-card-title{
  text-align: center;
  margin-bottom: 2rem;
}

.payment-flex{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.payment button{
  width: 100%;
}


