<div class="container-80 dp-block-1-2 cart-page">
  <h1>{{ "cart.title-purchase" | translate | titlecase }}</h1>
  <div class="divided">
    <mat-card class="cart">
      <div *ngIf="tempCondition > 0; else pendingNotice">
        <div *ngFor="let order of cartListPending?.menu; let j = index">
          <div class="item mr-bottom-1 mr-top-1">
            <div class="image">
              <img
                [src]="order?.recipe_id?.image"
                alt="menu image"
                [ngClass]="
                  order.recipe_id.status == 'unpublish' ? 'greyout' : ''
                "
                (error)="onImageError($event)"
              />
            </div>
            <div class="item-detail">
              <h3>{{ order?.recipe_id?.recipe_name | titlecase }}</h3>
              <p>{{ order?.recipe_id?.price | currReplace }}</p>
              <p class="note">
                <b>{{ "cart.note" | translate }}</b> : {{ order?.note }}
              </p>
            </div>
            <div
              class="amount"
              [ngClass]="order.recipe_id.status == 'unpublish' ? 'greyout' : ''"
            >
              <h4>{{ "cart.amount" | translate | titlecase }}</h4>
              <div class="item-amount">
                <div
                  [matTooltip]="order?.amount == 1 ? 'reach limit' : 'minus'"
                >
                  <button
                    type="button"
                    matSuffix
                    mat-icon-button
                    [ngStyle]="
                      order?.amount == 1 ? { color: 'grey' } : { color: 'blue' }
                    "
                    [disabled]="
                      order?.amount == 1 ||
                      order?.recipe_id?.status == 'unpublish'
                    "
                    (click)="minAmount(order?._id)"
                  >
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
                <span>{{ order?.amount }}</span>
                <div
                  [matTooltip]="
                    order?.amount >= order?.recipe_id?.available
                      ? 'reach limit'
                      : 'plus'
                  "
                >
                  <button
                    type="button"
                    matSuffix
                    mat-icon-button
                    [ngStyle]="
                      order?.amount >= order?.recipe_id?.available
                        ? { color: 'grey' }
                        : { color: 'blue' }
                    "
                    [disabled]="
                      order?.amount >= order?.recipe_id?.available ||
                      order?.recipe_id?.status == 'unpublish'
                    "
                    (click)="addAmount(order?._id)"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="item-total">
              <h4>{{ "cart.total-price-item" | translate | titlecase }}</h4>
              <h1>
                {{ order?.total_recipe | currReplace }}
              </h1>
            </div>
            <div class="order-button">
              <button
                type="button"
                mat-flat-button
                color="edit"
                matTooltip="Edit Note"
                [disabled]="
                  order?.recipe_id?.status == 'unpublish' ? true : false
                "
                [ngClass]="
                  order?.recipe_id?.status == 'unpublish' ? 'greyout' : ''
                "
                (click)="editCartDialog(order?._id)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                type="button"
                mat-flat-button
                color="warn"
                matTooltip="Delete"
                (click)="deleteCart(order?._id, order?.recipe_id?.recipe_name)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
      </div>
    </mat-card>
    <mat-card class="mr-bottom-1 payment">
      <mat-card-title class="mr-bottom-1">{{"order.order-summary" | translate | titlecase}}</mat-card-title>
      <div class="payment-flex">
        <div class="payment-item">
          <mat-card-subtitle>{{"order.total" | translate | titlecase}}</mat-card-subtitle>
          <h1>
            {{ cartListPending?.menu?.length }}
          </h1>
        </div>
        <div class="payment-price">
          <mat-card-subtitle>{{"cart.total-price" | translate | titlecase}}</mat-card-subtitle>
          <h1>
            {{ cartListPending?.total | currReplace }}
          </h1>
        </div>
      </div>
      <button
        mat-flat-button
        color="primary"
        matTooltip="Order"
        (click)="orderNow()"
        type="button"
        [disabled]="cartListPending?.menu?.length == 0"
      >
        {{ "cart.order-btn" | translate | titlecase }}
      </button>
    </mat-card>
  </div>
  <ng-template #pendingNotice>
    <div class="none">
      <img
        src="../../../assets/svg/undraw_empty_cart_co35.svg"
        alt="image svg"
      />
      <h1>{{ "cart.status-transaction" | translate | titlecase }}</h1>
    </div>
  </ng-template>
</div>
