<div class="container-80 dp-block-1-2 cart-page">
  <h1>{{"cart.title-purchase" | translate | titlecase}}</h1>
  <!-- Pending -->
  <mat-accordion class="mr-bottom-1">
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = true"
      [expanded]="true"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> {{"cart.title-status" | translate | titlecase}} </mat-panel-title>
        <mat-panel-description>
          {{"cart.title-transaction" | translate | titlecase}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngIf="tempCondition > 0; else pendingNotice">
        <div class="list-item">
          <div *ngFor="let order of cartListPending?.menu; let j = index">
            <div class="item mr-bottom-1 mr-top-1" *ngIf="order.recipe_id.status == 'publish'; else unpublishMenu">
              <img src="{{ order?.recipe_id?.image }}" alt="menu image" />
              <div class="item-detail">
                <h3>{{ order?.recipe_id?.recipe_name | titlecase }}</h3>
                <p>{{ order?.recipe_id?.price | currency: "Rp. " }}</p>
                <p><b>{{"cart.note" | translate}}</b> : {{ order?.note }}</p>
              </div>
              <div class="amount">
                <h4>{{"cart.amount" | translate | titlecase}}</h4>
                <div class="item-amount">
                  <div [matTooltip]="order?.amount == 1 ? 'reach limit':'minus'">
                    <button
                      matSuffix
                      mat-icon-button
                      [ngStyle]="order?.amount == 1 ? {color: 'grey'} : { color: 'blue' }"
                      [disabled]="order?.amount == 1"
                      (click)="minAmount(order?._id)"
                    >
                      <mat-icon>remove</mat-icon>
                    </button>
                  </div>
                  <span>{{ order?.amount }}</span>
                  <div [matTooltip]="order?.amount >= order?.recipe_id?.available? 'reach limit':'plus'">
                    <button
                      matSuffix
                      mat-icon-button
                      [ngStyle]="order?.amount >= order?.recipe_id?.available ? {color: 'grey'}:{ color: 'blue' }"
                      [disabled]="order?.amount >= order?.recipe_id?.available"
                      (click)="addAmount(order?._id)"
                    >
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <div class="item-total">
                <h4>{{"cart.total-price-item" | translate | titlecase}}</h4>
                <h1>{{ order?.total_recipe | currency: 'Rp ' : 'symbol' : '3.0'}}</h1>
              </div>
              <div class="order-button">
                <button
                  mat-flat-button
                  color="edit"
                  matTooltip="Edit Note"
                  (click)="editCartDialog(order?._id)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-flat-button
                  color="warn"
                  matTooltip="Delete"
                  (click)="
                    deleteCart(order?._id, order?.recipe_id?.recipe_name)
                  "
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
            <ng-template #unpublishMenu>
              <div class="item mr-bottom-1 mr-top-1">
                <img class="greyout" src="{{ order?.recipe_id?.image }}" alt="menu image" />
                <div class="item-detail grayout">
                  <h3>{{ order?.recipe_id?.recipe_name | titlecase }}</h3>
                  <p>{{ order?.recipe_id?.price | currency: "Rp. "}}</p>
                  <p><b>{{"cart.note" | translate}}</b> : {{ order?.note }}</p>
                </div>
                <div class="amount grayout">
                  <h4>{{"cart.amount" | translate | titlecase}}</h4>
                  <div class="item-amount grayout">
                    <button
                      matSuffix
                      mat-icon-button
                      [ngStyle]="{ color: 'grey' }"
                      matTooltip="minus"
                      disabled="true"
                    >
                      <mat-icon>remove</mat-icon>
                    </button>
                    <span>{{ order.amount }}</span>
                    <button
                      matSuffix
                      mat-icon-button
                      [ngStyle]="{ color: 'grey' }"
                      matTooltip="plus"
                      disabled="true"
                    >
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </div>
                <div class="item-total">
                  <h4>{{"cart.total-price-item" | translate | titlecase}}</h4>
                  <h1>{{ order?.total_recipe | currency: "Rp. " }}</h1>
                </div>
                <div class="order-button">
                  <button
                    mat-flat-button
                    matTooltip="Edit Note"
                    [disabled]="true"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button
                    mat-flat-button
                    color="warn"
                    matTooltip="Delete"
                    (click)="
                      deleteCart(order?._id, order?.recipe_id?.recipe_name)
                    "
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </ng-template>
            <mat-divider></mat-divider>
          </div>
        </div>
        <div class="order-bar">
          <h1><small><sup>{{"cart.total-price" | translate | titlecase}}</sup></small> {{ cartListPending?.total | currency: "Rp. " }}</h1>
          <button
            mat-flat-button
            color="primary"
            matTooltip="Order"
            (click)="orderNow()"
          >
          {{"cart.order-btn" | translate | titlecase}}
          </button>
        </div>
      </div>
      <ng-template #pendingNotice>
        <div class="none">
          <img src="../../../assets/svg/undraw_empty_cart_co35.svg" alt="image svg"/>
          <h1>{{"cart.status-transaction" | translate | titlecase}}</h1>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator
    class="mr-bottom-2"
    [length]="tempCondition"
    [pageSizeOptions]="[10]"
    [pageSize]="pagination?.limit"
    [pageIndex]="pagination?.page - 1"
    (page)="handlePagePending($event)"
  ></mat-paginator>
  </div>
