<div class="container-80 dp-block-1-2 cart-page">
    <h1>History Transaction</h1>
    <mat-form-field appearance="fill">
      <mat-label>Status Transaction</mat-label>
      <mat-select [formControl]="statusTransFilter">
        <mat-option *ngFor="let status of statusFilter" [value]="status.value">
          {{status.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="lengthCart >= 1; else transactionNotice">
      <mat-card *ngFor="let item of cartList; let i = index" class="mr-bottom-1">
        <div class="container-100" >
          <mat-label>order-{{ item?.id | uppercase }}-menu</mat-label>
        </div>
        <ng-container *ngFor="let order of item?.menu; let j = index">
          <div *ngIf="j < indexToShow[i]" class="pad-left-right">
            <div class="item mr-bottom-1 mr-top-1">
              <img *ngIf="order?.recipe_id?.image != ''; else menuImageNone" [src]="order?.recipe_id?.image" alt="menu image" />
              <ng-template #menuImageNone>
                <img src="https://images.unsplash.com/photo-1534939561126-855b8675edd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                  alt="menu image"/>
              </ng-template>
              <div class="item-detail">
                <h3>{{ order?.recipe_id?.recipe_name | titlecase }}</h3>
                <p>Rp {{ order?.recipe_id?.price }}</p>
              </div>
              <div class="amount">
                <h4>Amount</h4>
                <div class="item-amount">
                  <span>{{ order?.amount }}</span>
                </div>
              </div>
              <div class="item-total">
                <h4>Total Price</h4>
                <h1>Rp {{ item?.total }}</h1>
              </div>
              <div class="item-status">
                <h4>Status</h4>
                <mat-icon
                  matSuffix
                  aria-label="Success"
                  *ngIf="item.order_status == 'success'"
                  [ngStyle]="{ color: 'green' }"
                  >done_all</mat-icon>
                  <mat-icon
                  matSuffix
                  aria-label="Success"
                  *ngIf="item.order_status == 'failed'"
                  [ngStyle]="{ color: 'red' }"
                  >clear</mat-icon>
              </div>
            </div>
            <mat-divider></mat-divider>
          </div>
        </ng-container>
        <div class="width-40 dp-block">
          <div
            class="more-button mr-top-1 mr-bottom-1"
            *ngIf="item?.menu?.length > 1; else onlyItem"
          >
            <button
              mat-flat-button
              color="primary"
              class="pad-tb-lr-10-30"
              *ngIf="indexToShow[i] == 1; else showLess"
              (click)="indexToShow[i] = item?.menu?.length"
            >
              Show More
            </button>
            <button
              mat-flat-button
              color="details"
              class="pad-tb-lr-5-35"
              (click)="detailsTransaction(item)"
            >
              Details
            </button>
          </div>
          <ng-template #onlyItem>
            <div class="width-40 dp-block">
              <div class="more-button mr-top-1 mr-bottom-1">
                <button
                  mat-flat-button
                  color="details"
                  class="pad-tb-lr-5-35"
                  (click)="detailsTransaction(item)"
                >
                  Details
                </button>
              </div>
            </div>
          </ng-template>
          <ng-template #showLess>
            <button
              mat-flat-button
              color="warn"
              (click)="indexToShow[i] = 1"
            >
              Show Less
            </button>
          </ng-template>
        </div>
      </mat-card>
    </div>
    <ng-template #transactionNotice>
      <h1>No Transaction</h1>
    </ng-template>
       <mat-paginator
         class="mr-bottom-2"
         [length]="lengthCart"
         [pageSizeOptions]="[10]"
         [pageSize]="pagination?.limit"
         [pageIndex]="pagination?.page - 1"
         (page)="handlePageSuccess($event)"
         showFirstLastButtons="true"
       ></mat-paginator>
  </div>
