<div class="dp-block">
  <div class="container p-grid p-justify-center p-justify-between">
    <div class="p-col-4 p-grid p-justify-center">
      <mat-card class="p-col-11 column-h-left">Simple card</mat-card>
    </div>
    <div class="p-col-8 p-grid p-dir-col ml-10">
      <mat-card class="p-col-12 mb-1rem column-h-right">Simple card</mat-card>
      <mat-card class="p-col-12 mb-1rem column-h-right">Simple card</mat-card>
      <mat-card class="p-col-6 column-h-right">Simple card</mat-card>
    </div>
  </div>
</div>