<div class="dp-block">
  <div class="container p-grid p-justify-center p-justify-between">
    <div class="p-col-4 p-grid p-justify-center">
      <mat-card class="p-col-11 column-h-left border-column">
        <!-- <div style="height: 550px;">
          <h1>
            Lorem Ipsum
          </h1>
          <p style="line-height: 1.8rem; text-align:justify">
            Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Dolore aliquam facere ex error. 
            Numquam pariatur officia, ratione accusamus, impedit cumque 
            consequuntur necessitatibus eaque animi, repellendus ab fuga corrupti. 
            Nulla, nemo?
          </p>
          <p style="line-height: 1.8rem; text-align:justify">
            Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Dolore aliquam facere ex error. 
            Numquam pariatur officia, ratione accusamus, impedit cumque 
            consequuntur necessitatibus eaque animi, repellendus ab fuga corrupti. 
            Nulla, nemo?
          </p>
        </div> -->
        <div class="p-grid p-col-12 border-column p-align-end" style="height:800px">
          <mat-list role="list" class="p-col-12">
            <mat-list-item class="border-column" role="listitem">Lorem Ipsum 1</mat-list-item>
            <mat-list-item class="border-column" role="listitem">Lorem Ipsum 2</mat-list-item>
            <mat-list-item class="border-column" role="listitem">Lorem Ipsum 3</mat-list-item>
            <mat-list-item class="border-column" role="listitem">Lorem Ipsum 4</mat-list-item>
          </mat-list>
        </div>
      </mat-card>
    </div>
    <div class="p-col-8">
      <div class="p-grid p-dir-col">
        <div class="p-col-12">
          <mat-card class="column-h-right border-column">
            <div class="p-grid p-align-center p-grid p-justify-around" style="height: 200px;">
              <mat-card class="p-col-1-nogutter card border-column">
                <mat-icon class="p-offset-4">assignment_ind</mat-icon><br>
                <p style="text-align: center;">Contact Person</p>
                <!-- Simple Card -->
              </mat-card>
              <mat-card class="p-col-1-nogutter  p-dir-col card border-column">
                <mat-icon class="p-offset-4">card_giftcard</mat-icon><br>
                <p style="text-align: center;">Gift Card</p>
              </mat-card>
              <mat-card class="p-col-1-nogutter  card border-column">
                <mat-icon class="p-offset-4">bug_report</mat-icon><br>
                <p style="text-align: center;">Bug Report</p>
              </mat-card>
              <mat-card class="p-col-1-nogutter card border-column">
                <mat-icon class="p-offset-4">code</mat-icon><br>
                <p style="text-align: center;">Code</p>
              </mat-card>
            </div>
          </mat-card>
        </div>
        <div class="p-col-12 mb-1rem">
          <mat-card class="column-h-right border-column">
            <h2 style="text-align:center;">Dog Lorem Ipsum</h2>
            <div class="p-grid p-offset-2">
              <img src="https://picsum.photos/id/237/200/100" class="p-col-3">
              <p class="p-col-7" style="line-height: 2rem; text-align:justify">
                Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Dolore aliquam facere ex error. 
                Numquam pariatur officia, ratione accusamus, impedit cumque 
                consequuntur necessitatibus eaque animi, repellendus ab fuga corrupti. 
                Nulla, nemo?
              </p>
            </div>
          </mat-card>
        </div>
        <div class="p-col-6 mb-1rem">
          <mat-card class="column-h-right border-column">
            <h2>Lorem Ipsum</h2>
            <p style="line-height: 1.8rem; text-align:justify">
              Lorem ipsum dolor sit amet consectetur, 
              adipisicing elit. Dolore aliquam facere ex error. 
              Numquam pariatur officia, ratione accusamus, impedit cumque 
              consequuntur necessitatibus eaque animi, repellendus ab fuga corrupti. 
              Nulla, nemo?
            </p>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>