<mat-toolbar color="primary">
  <button mat-icon-button style="background-color: rgba(0,0,0,0);" (click)="opened=!opened">
      <mat-icon style="color: white;">menu</mat-icon>
    </button>
<span style="padding-left: 2rem;">Apollo</span>
</mat-toolbar>
<mat-sidenav-container>
<mat-sidenav [(opened)]="opened" mode="side">
  <mat-list>
      <mat-list-item><mat-icon>discount</mat-icon><a routerLink="/promo">Promo</a></mat-list-item>
      <mat-list-item><mat-icon>school</mat-icon><a routerLink="/school">School</a></mat-list-item>
      <mat-list-item><mat-icon>person</mat-icon><a routerLink="/user">User</a></mat-list-item>
  </mat-list>
</mat-sidenav>
<mat-sidenav-content>
  <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>