button{
    border: none;
}

mat-sidenav-container{
    height: 92vh;
}

mat-sidenav{
    width: 200px;
}

mat-list-item {
    margin-top: 1rem;
}

mat-icon {
    padding-right: 1rem;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.language-container{
    width: 100%;
    display: flex;
    justify-content: end;
}

mat-form-field{
    font-size: 0.8rem;
}

