.dp-block {
  display: block;
  margin: 1.2rem auto;
}

.container {
  width: 90%;
}

table {
  width: 100%;
}

th,td {
  width: 20%;
}

th {
    text-align: center;
}

.actions-button {
  display: flex;
}

.status-button button {
    width: 100px;
}

/* publis-unpublish button syling */
.mat-flat-button.mat-publish {
  color: #f0fff3;
  background-color: #388E3C;
}

.mat-flat-button.mat-unpublish {
  color: #f0fff3;
  background-color: #D32F2F;
}

.mat-flat-button.mat-detail {
    color: #000000;
    background-color: #FFEB3B;
  }
