table {
  width: 100%;
}

th,
td {
  width: 10%;
}

th {
  text-align: center;
}

.actions-button {
  display: flex;
}

.status-button button {
  width: 100px;
}

/* publis-unpublish button syling */
.mat-flat-button.mat-publish {
  color: #f0fff3;
  background-color: #388e3c;
}

.mat-flat-button.mat-unpublish {
  color: #f0fff3;
  background-color: #d32f2f;
}

.mat-flat-button.mat-detail {
  color: #000000;
  background-color: #ffeb3b;
}
