@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

header {
    display: inline;
}

nav {
    display: flex;
    background-color: #039b7f;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style: none;
}

nav ul li a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    color: whitesmoke;
}

nav h1 {
    font-family: 'Patua One', cursive;
    font-weight: 300;
}


nav h1:hover{
    color: whitesmoke;
}

article {
    height: 50vw;
}

.main-page, .data-page{
    display: flex;
    justify-content: space-around;
    width : 80%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

img {
    height: 350px;
    margin-top: auto;
    margin-bottom: auto;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.welcome h2 {
    font-size: 3.2em;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Rubik Dirt', cursive;
}

.welcome p {
    font-size: 1.2em;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #039b7f;
    color: whitesmoke;
    padding: 20px;
}

.description h2 {
    text-align: center;
    font-size: 3.1em;
    font-weight: 300;
    margin-bottom: 30px;
}

.description p {
    width: 70%;
    text-align: center;
    font-size: 1.2em;
    line-height: 2em;
    margin-left: auto;
    margin-right: auto;
}

.identity{
    padding: 50px;

}

.identity h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.2em;
    font-weight:500;
    font-family: 'Rubik Dirt', cursive;
}

.card {
    width: 80%;
    height: fit-content;
    padding: 20px;
    border-radius: 2%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}

.data-page {
    margin-bottom: 20px;
}

.data-page p {
    margin-left: 20px;
    line-height: 3em;
}

.card:hover {
    background-color: #039b7f;
    color: whitesmoke;
}

