@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    background-color: #FFFAE7;
}

.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.data-card {
    width: 70%;
    height: 400px;
    background-color: white;
    padding: 30px 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
}

h2 {
    text-align: center;
    font-size: 2.3em;
    padding: 30px;
    font-weight: 300;
}

.column-30 {
    float: left;
    width: 30%;
    margin-top: 10px;
}

.column-70 {
    float: left;
    width: 70%;
    margin-top: 10px;
}

.row:after {
    content: " ";
    display: table;
    clear: both;
}

input[type=text], input[type=email], input[type=phone], input[type=file]{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=radio]{
    margin-right: 5px;
}

span {
    margin-right: 50px;
}

button {
    background-color: black;
    width: 30%;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 70px;
    margin-right: 5%;
    float:right;
}

button a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

button:hover{
    background-color: #D2001A;
    font-size: 1.2em;
    font-weight: bolder;
}

button a:hover {
    color: #FFDE00;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}