<div class="container" *ngIf="landingPage; else landingPageNone">
  <mat-toolbar class="color-trinary flex-container">
    <div class="nav-logo">
      <img
        src="https://cdn-icons-png.flaticon.com/512/6490/6490275.png"
        alt="logo-image"
      />
      <h1>Indonesian Cuisine</h1>
    </div>
    <div class="nav-list" id="home-page">
      <ul>
        <li>
          <a [routerLink]="['landing-page']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{
            "home-page.home" | translate | titlecase
          }}</a>
        </li>
        <li>
          <a [routerLink]="['menu-page']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{
            "sub-menu.Menu" | translate | titlecase
          }}</a>
        </li>
        <li>
          <button
            mat-flat-button
            class="login color-secondary"
            (click)="loginPage()"
          >
            {{ "home-page.login" | translate | titlecase }}
          </button>
        </li>
        <li>
          <button
            mat-flat-button
            class="login color-secondary"
            (click)="registerPage()"
          >
            {{ "home-page.register" | translate | titlecase }}
          </button>
        </li>
        <li class="language">
          <a *ngIf="currentLanguage" (click)="changeLanguage(currentLanguage)"
            ><img [src]="srcImages"
          /></a>
        </li>
      </ul>
    </div>
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div class="height-40 color-rest-2">
    <div class="dp-block width-80 footer">
      <div class="footer-flex">
        <div class="footer-logo">
          <img
            src="https://cdn-icons-png.flaticon.com/512/6490/6490275.png"
            alt="logo-image"
          />
          <h1>Indonesian Cuisine</h1>
        </div>
        <div class="footer-list">
          <ul>
            <li>
              <a href="#home-page">{{
                "home-page.home" | translate | titlecase
              }}</a>
            </li>
            <li>
              <a [routerLink]="['menu-page']">{{
                "home-page.menu" | translate | titlecase
              }}</a>
            </li>
          </ul>
        </div>
        <div class="footer-medsos">
          <h2>{{ "title.medsos" | translate | titlecase }}</h2>
          <ul>
            <li>
              <a href="https://www.instagram.com/" matTooltip="Instagram">
                <img
                  class="mr-right-2"
                  src="./assets/img/instagram.png"
                  alt="media social icon"
                />
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/" matTooltip="Facebook">
                <img
                  class="mr-right-2"
                  src="/assets/img/facebook.png"
                  alt="media social icon"
                />
              </a>
            </li>
            <li>
              <a href="https://twitter.com/" matTooltip="Twitter">
                <img src="/assets/img/twitter.png" alt="media social icon" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #landingPageNone>
  <div class="container">
    <mat-toolbar class="color-trinary">
      <button mat-icon-button (click)="opened = !opened">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="nav-logo">
        <img
          src="https://cdn-icons-png.flaticon.com/512/6490/6490275.png"
          alt="logo-image"
        />
        <h1>Indonesian Cuisine</h1>
      </div>
      <div class="about-info">
        <a [routerLink]="['about-page']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><mat-icon>info</mat-icon></a>
      </div>
      <div class="language-other">
        <a *ngIf="currentLanguage" (click)="changeLanguage(currentLanguage)"
          ><img [src]="srcImages"
        /></a>
      </div>
    </mat-toolbar>
    <!-- after login for usertype -->
    <mat-sidenav-container class="user">
      <mat-sidenav [(opened)]="opened" mode="side">
        <div class="image-profile mr-top-1">
          <img class="dp-block" src="../../assets/svg/undraw_pic_profile_re_7g2h.svg" alt="profile image"/>
          <div class="dp-block-1 profile-link">
            <a [routerLink]="['profile-page']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{userData?.first_name | titlecase}} {{userData?.last_name | titlecase}}</a>
            <p *ngIf="userData?.role == 'user'">{{"profile.balance" | translate | titlecase}} <label>{{userData?.saldo | currReplace}}</label></p>
          </div>
        </div>
        <ul class="pd-left-right-1">
          <li *ngFor="let menu of menuAllow">
            <div *ngIf="menu?.slug == 'cart-page'; else noBadge">
              <a [routerLink]="[menu?.slug]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <mat-icon class="mr-right-1"  [matBadge]="badgeLength">shopping_cart</mat-icon>
                {{ "sub-menu." + menu?.name | translate | titlecase }}
              </a>
            </div>
            <ng-template #noBadge>
              <a [routerLink]="[menu?.slug]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
                <mat-icon class="mr-right-1">{{ menu?.icon_name }}</mat-icon>
                {{ "sub-menu." + menu?.name | translate | titlecase }}
              </a>
            </ng-template>
          </li>
          <li class="pd-all-1">
            <button
              mat-flat-button
              class="logout color-secondary"
              (click)="logoutPage()"
            >
              {{ "title.logout" | translate | titlecase }}
            </button>
          </li>
        </ul>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</ng-template>
