.dp-block {
    display: block;
    margin: 0 auto;
}
.container{
    width:100%;
}

/* color */
.color-primary {
    background-color: #C21010;
}

.color-secondary {
    background-color: #E64848;
}

.color-trinary {
    background-color: #FFFDE3;
}

.color-rest {
    background-color: #CFE8A9;
}

.color-rest-2 {
    background-color: #040303;
}

/* width */
.width-80{
    width: 80%;
}

/* height */
.height-40{
    height: 40vh;
}

.height-60{
    height: 60vh;
}

.height-80{
    height: 80vh;
}

/* padding */
.pd-left-2{
    padding-left: 2rem;
}

/* margin */
.mr-right-1{
    margin-right: 1rem;
}

.mr-left-1{
    margin-left: 1rem;
}

.mr-right-2{
    margin-right: 2rem;
}

.mr-left-2{
    margin-left: 2rem;
}

/* navigation */

.nav-logo, .nav-list {
    width: 50%;
}

.nav-logo {
    text-align: center;
}

.nav-list mat-list {
    display: flex;
    justify-content: space-around;
}

.login{
    color: white;
    padding: 0 3rem;
    border-radius: 1rem;
}

/* side nav */
mat-sidenav-container{
    height: 92vh;
}

mat-sidenav{
    width: 200px;
}

mat-list-item {
    margin-top: 1rem;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

a:hover{
    color: #C21010;
}

.user mat-list-item, .admin mat-list-item{
    display: flex;
    justify-content: center;
}