<div class="container">
    <mat-toolbar class="color-trinary">
        <div *ngIf = "!landingPage">
            <button mat-icon-button (click)="opened=!opened">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div class="nav-logo">
            <h1>Indonesian Cuisine</h1>
        </div>
        <div class="nav-list" *ngIf="landingPage">
            <mat-list>
                <mat-list-item>Home</mat-list-item>
                <mat-list-item>Menu</mat-list-item>
                <mat-list-item>About</mat-list-item>
                <mat-list-item>Cart</mat-list-item>
                <mat-list-item>
                    <button mat-flat-button class="login color-secondary" (click)="loginPage()">Login</button>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-toolbar>
  <div *ngIf="!landingPage">
    <!-- after login for usertype : User -->
      <div *ngIf="!admin">
        <mat-sidenav-container class="user">
            <mat-sidenav [(opened)]="opened" mode="side">
              <mat-list>
                  <mat-list-item *ngFor="let menu of menuAllow">
                    <a class="p-grid" [routerLink]="[menu?.slug]">
                      <mat-icon class="mr-right-1">{{menu?.icon_name}}</mat-icon>{{menu?.name}}
                    </a>
                  </mat-list-item>
                  <mat-list-item>
                    <button mat-flat-button class="login color-secondary" (click)="logoutPage()">Logout</button>
                  </mat-list-item>
              </mat-list>
            </mat-sidenav>
            <mat-sidenav-content>
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
      <!-- after login for usertype : Admin -->
      <div *ngIf="admin">
        <mat-sidenav-container class="admin">
            <mat-sidenav [(opened)]="opened" mode="side">
                <mat-list>
                    <mat-list-item *ngFor="let menu of menuAllow">
                      <a [routerLink]="[menu?.slug]">
                        <mat-icon class="mr-right-1">{{menu?.icon_name}}</mat-icon>{{menu?.name}}
                      </a>
                    </mat-list-item>
                    <mat-list-item>
                      <button mat-flat-button class="login color-secondary" (click)="logoutPage()">Logout</button>
                    </mat-list-item>
                </mat-list>
            </mat-sidenav>
            <mat-sidenav-content>
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
  </div>
  <div *ngIf="landingPage">
      <app-landing-page></app-landing-page>
  </div>
</div>
