/* navigation */

.nav-logo,
.nav-list {
  width: 50%;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo img {
  width: 40px;
  margin-right: 10px;
  margin: 0 10px;
}

.nav-list mat-list {
  display: flex;
  justify-content: flex-end;
}

.login,
.logout {
  color: white;
  padding: 0 3rem;
  border-radius: 1rem;
}

.logout {
  margin-top: 20px;
}

/* side nav */
mat-sidenav-container {
  height: 91vh;
}

mat-sidenav {
  width: 240px;
  overflow-x: none;
}

.flex-container{
  display: flex;
  justify-content: space-between;
}

.nav-list {
  width: 40%;
}

.nav-list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list ul li, .user ul li {
  list-style-type: none;
}

.nav-list a {
  background-image: linear-gradient(to right, #c21010, #c21010 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.nav-list a:before {
  content: "";
  background: #c21010;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.nav-list a:hover, .nav-list a.active {
  background-position: 0;
}

.nav-list a:hover::before, .nav-list a.active::before {
  width: 100%;
}

.user ul li a {
  height: 50px;
  display: flex;
  align-items: center;
}

.user a,
.about-info a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.user a:hover,
.about-info a:hover {
  color: #c21010;
}

.user a.active, .about-info a.active{
  color: #c21010;
}

.language a{
    cursor: pointer;
}

.language a img {
  width: 32px;
  height: 32px;
}

.language-other{
  position: relative;
  left: 35vw;
}

.language-other a{
  cursor: pointer;
}

.language-other a img {
width: 32px;
height: 32px;
}

button:hover {
  background-color: #cfe8a9;
  color: #040303;
}

.about-info {
  position: relative;
  left: 42vw;
}

.about-info mat-icon {
  width: 32px;
  height: 32px;
  font-size: 32px;
}

.image-profile img{
  width: 100px;
}

/* .clip-circle{
  clip-path: circle(50px at center);
} */

.profile-link{
  width: 80%;
  text-align: center;
}

/* footer */
.footer {
  color: white;
  padding-top: 2rem;
}

.footer-flex {
  display: flex;
  justify-content: space-evenly;
}

.footer-logo {
  display: flex;
  align-items: flex-start;
}

.footer-logo h1 {
  margin-top: 5px;
}

.footer-logo img {
  width: 42px;
  height: 42px;
  margin-right: 15px;
}

.footer-list ul li {
  list-style: none;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.footer-list a {
  background-image: linear-gradient(to right, #cfe8a9, #cfe8a9 50%, white 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.footer-list a:before {
  content: "";
  background: #cfe8a9;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.footer-list a:hover {
  background-position: 0;
  cursor: pointer;
}

.footer-list a:hover::before {
  width: 100%;
}

.footer-medsos ul {
  display: flex;
  padding: 0;
}

.footer-medsos ul li {
  list-style: none;
}

.footer-medsos img {
  width: 32px;
}
