img{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 300px;
}

.mat-tab-group {
    margin-bottom: 48px;
}

.container{
    display: block;
    width: 80%;
    margin: 1.2rem auto;
}