.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

.container {
    width: 80%;
    display: block;
    margin:1.5rem auto;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}