<div class="width-60 dp-block-1-2">
  <div *ngIf="menulist; else menuListNone">
    <div class="flex-container" >
      <mat-card *ngFor="let item of listMenu; let i = index">
        <div [ngClass]="item?.available == 0 ? 'greyout' : ''">
          <img *ngIf="item.image != ''; else menuImageNone" class="dp-block" [src]="item?.image" alt="menu image" />
          <ng-template #menuImageNone>
            <img class="dp-block" src="https://images.unsplash.com/photo-1534939561126-855b8675edd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
            alt="menu image"/>
          </ng-template>
        </div>
        <mat-card-title>{{ item.recipe_name | titlecase }}</mat-card-title>
        <div class="group-item">
          <div class="price-item">
            <mat-card-subtitle>price</mat-card-subtitle>
            <h2>Rp {{ item?.price }}</h2>
          </div>
          <div class="avail-item">
            <mat-card-subtitle>available</mat-card-subtitle>
            <h2>{{ item?.available }}</h2>
          </div>
        </div>
        <mat-card-actions align="center" *ngIf="item?.available > 0; else stockRunOut">
          <button
            mat-flat-button
            color="addcart"
            class="add-cart"
            (click)="addToCart(item?.id)"
          >
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </mat-card-actions>
        <ng-template #stockRunOut>
          <mat-card-actions align="center">
            <button
              mat-flat-button
              class="add-cart"
              disabled="true"
            >
              <mat-icon>add_shopping_cart</mat-icon>
            </button>
            <p class="top">out of stock</p>
          </mat-card-actions>
        </ng-template>
      </mat-card>
    </div>
    <mat-paginator
      [length]="totalSize"
      [pageSizeOptions]="[10]"
      [pageSize]="pagination?.limit"
      [pageIndex]="pagination?.page - 1"
      (page)="handlePage($event)"
    ></mat-paginator>
  </div>
  <ng-template #menuListNone>
    <div class="noneList">
      <img class="none-img" src="../../../assets/svg/undraw_empty_re_opql.svg" alt="image svg"/>
      <h1>No Food List</h1>
    </div>
  </ng-template>
</div>
