mat-card {
  width: 300px;
  height: 440px;
  flex: 0 0 30.333333%;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(120, 149, 178, 0.2),
    2px 2px 6px 0 rgba(232, 223, 202, 0.3);
  margin-bottom: 2rem;
}

mat-card:hover {
  transform: scale(1.045);
}

mat-card-title {
  padding-top: 0.8rem;
  font-weight: 400;
  text-align: center;
  height: 60px;
}

mat-card-content {
  height: 100px;
  padding: 0 10px;
  overflow-y: hidden;
  text-align: justify;
}

img {
  width: 270px;
  height: 180px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mat-flat-button.mat-addcart {
  color: #f0fff3;
  background-color: #388e3c;
}

.add-cart{
  padding: 0 4rem;
}

.group-item {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.counter {
  display: flex;
  justify-content: center;
}

.quantity {
  width: 100px;
  font-size: 0.8rem;
}

.top {
  color: red;
  margin-top: 10px;
}

.greyout img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.noneList{
  width: 100%;
  height: 50vh;
  text-align: center;
  margin-top: 100px;
}

.none-img{
  width: 100%;
  height: 30vh;
}
