<div class="half-width dp-block-1-2">
  <mat-card class="flex-profile">
    <div class="image-profile">
      <img
        src="../../assets/svg/undraw_pic_profile_re_7g2h.svg"
        alt="profile image"
      />
    </div>
    <mat-card-content class="width-60">
      <table class="container mr-bottom-1">
        <tr>
          <td>
            <mat-card-subtitle>{{
              "profile.firstname" | translate | titlecase
            }}</mat-card-subtitle>
            <mat-card-title>{{
              dataUser?.first_name | titlecase
            }}</mat-card-title>
          </td>
          <td>
            <mat-card-subtitle>{{
              "profile.lastname" | translate | titlecase
            }}</mat-card-subtitle>
            <mat-card-title>{{
              dataUser?.last_name | titlecase
            }}</mat-card-title>
          </td>
        </tr>
      </table>
      <div class="mr-bottom-2">
        <mat-card-subtitle>{{
          "profile.email" | translate | titlecase
        }}</mat-card-subtitle>
        <mat-card-title>{{ dataUser?.email | titlecase }}</mat-card-title>
      </div>
      <div class="mr-bottom-2" *ngIf="dataUser?.role == 'user'">
        <mat-card-subtitle>{{
          "profile.balance" | translate | titlecase
        }}</mat-card-subtitle>
        <mat-card-title>{{ dataUser?.saldo | currReplace }}</mat-card-title>
      </div>
      <div class="mr-bottom-2">
        <mat-card-subtitle>{{
          "profile.status" | translate | titlecase
        }}</mat-card-subtitle>
        <mat-card-title
          [ngStyle]="
            dataUser?.status == 'active' ? { color: 'green' } : { color: 'red' }
          "
          >{{"status."+dataUser?.status | translate | titlecase}}</mat-card-title
        >
      </div>
    </mat-card-content>
  </mat-card>
</div>
