<div class="container-80 dp-block-1-2">
  <div class="search-filter">
    <mat-form-field class="mr-bottom-1" appearance="fill">
      <mat-label>{{"menu-manage.ingred-name" | translate | titlecase}}</mat-label>
      <input type="text" matInput [formControl]="filterStockName" [(ngModel)]="stockNameFilter" placeholder="{{ 'filter.stock-placeholder' | translate | titlecase}}"/>
      <button *ngIf="stockNameFilter" matSuffix mat-icon-button (click)="stockNameFilter=''">
        {{"filter.clear-btn" | translate | titlecase}}
      </button>
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{"table.name" | translate | titlecase}}</th>
      <td mat-cell *matCellDef="let element">{{ element.name | titlecase }}</td>
    </ng-container>

    <ng-container matColumnDef="stock">
      <th class="th-center" mat-header-cell *matHeaderCellDef>{{"table.stock" | translate | titlecase}}</th>
      <td class="th-center" mat-cell *matCellDef="let element">{{ element.stock }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th class="th-center" mat-header-cell *matHeaderCellDef>{{"table.status" | translate | titlecase}}</th>
      <td class="th-center" mat-cell *matCellDef="let element">
        <mat-icon [ngStyle]="{color:'green'}" *ngIf="element.status == 'active'" matTooltip="active">done</mat-icon>
        <mat-icon [ngStyle]="{color:'red'}" *ngIf="element.status === 'deleted'" matTooltip="deleted">close</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions" class="actions">
      <th mat-header-cell *matHeaderCellDef>{{"table.action" | translate | titlecase}}</th>
      <td mat-cell *matCellDef="let element">
        <mat-list class="actions-button">
          <mat-list-item>
            <button mat-flat-button color="primary" matTooltip="Edit" (click)="openDialog(element.id)" [disabled]="element?.status == 'deleted'">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-list-item>
          <mat-list-item>
            <button mat-flat-button color="warn" matTooltip="Delete" (click)="deleteStock(element.id, element.name)" [disabled]="element?.status == 'deleted'">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        {{"table.message-notfound" | translate | titlecase}}
      </td>
    </tr>
  </table>
  <mat-paginator [length]="totalSize" [pageSizeOptions]="[10]" [pageSize]="pagination?.limit" [pageIndex]="pagination?.page-1" (page)="handlePage($event)" [showFirstLastButtons]="true"></mat-paginator>
</div>
