<h2 mat-dialog-title>Code Transaction : order-{{detailsTrans?.id | uppercase}}-menu</h2>
<mat-dialog-content class="width-abs-400">
    <p>Customer : {{detailsTrans?.user_id?.last_name}} {{detailsTrans?.user_id?.first_name}}</p>
    <p>Order Date : {{detailsTrans?.order_date}}</p>
    <p>Order Menu : </p>
    <table class="mr-bottom-1">
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Note</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Total Price Each Item</th>
        </tr>
        <tr *ngFor="let menu of detailsTrans?.menu">
            <td *ngIf="menu?.recipe_id?.image != ''; else menuImageNone" ><img class="image-transaction" src="{{menu?.recipe_id?.image}}" alt="image menu"/></td>
          <ng-template #menuImageNone>
            <td><img class="dp-block" src="https://images.unsplash.com/photo-1534939561126-855b8675edd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
            alt="menu image"/></td>
          </ng-template>
            <td>{{menu?.recipe_id?.recipe_name}}</td>
            <td>{{menu?.note}}</td>
            <td>{{menu?.recipe_id?.price}}</td>
            <td>{{menu?.amount}}</td>
            <td>Rp {{menu?.total_recipe}}</td>
        </tr>
        <tr>
            <td colspan="5">Total Price</td>
            <td>Rp {{detailsTrans?.total}}</td>
        </tr>
    </table>
    <p *ngIf="detailsTrans?.order_status === 'success'; else failed">Order Status : <span class="status-transaction" [ngStyle]="{background:'green'}">{{detailsTrans?.order_status | uppercase}}</span></p>
    <ng-template #failed>
        <p>Order Status : <span class="status-transaction" [ngStyle]="{background:'red'}">{{detailsTrans?.order_status | uppercase}}</span></p>
    </ng-template>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="warn">Close</button>
</mat-dialog-actions>
