<h2 mat-dialog-title>{{"dialog-details.code" | translate | titlecase}} : order-{{detailsTrans?.id | uppercase}}-menu</h2>
<mat-dialog-content class="width-abs-400">
    <p>{{"dialog-details.customer" | translate | titlecase}} : {{detailsTrans?.user_id?.last_name}} {{detailsTrans?.user_id?.first_name}}</p>
    <p>{{"dialog-details.order-date" | translate | titlecase}} : {{detailsTrans?.order_date}}</p>
    <p>{{"dialog-details.order-menu" | translate | titlecase}} : </p>
    <table class="mr-bottom-1">
        <tr>
            <th>{{"table.image" | translate | titlecase}}</th>
            <th>{{"table.name" | translate | titlecase}}</th>
            <th>{{"table.note" | translate | titlecase}}</th>
            <th>{{"table.price" | translate | titlecase}}</th>
            <th>{{"table.amount" | translate | titlecase}}</th>
            <th>{{"table.total-item" | translate | titlecase}}</th>
        </tr>
        <tr *ngFor="let menu of detailsTrans?.menu">
            <td *ngIf="menu?.recipe_id?.image != ''; else menuImageNone" ><img class="image-transaction" [src]="menu?.recipe_id?.image" alt="image menu" (error)="onImageError($event)"/></td>
          <ng-template #menuImageNone>
            <td><img class="dp-block" src="https://images.unsplash.com/photo-1534939561126-855b8675edd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
            alt="menu image"/></td>
          </ng-template>
            <td>{{menu?.recipe_id?.recipe_name}}</td>
            <td>{{menu?.note}}</td>
            <td>{{menu?.recipe_id?.price | currReplace}}</td>
            <td>{{menu?.amount}}</td>
            <td>{{menu?.total_recipe | currReplace}}</td>
        </tr>
        <tr>
            <td colspan="5">{{"table.total" | translate | titlecase}}</td>
            <td>{{detailsTrans?.total | currReplace}}</td>
        </tr>
    </table>
    <p *ngIf="detailsTrans?.order_status === 'success'; else failed">{{"dialog-details.order-stat" | translate | titlecase}} : <span class="status-transaction" [ngStyle]="{background:'green'}">{{"status."+detailsTrans?.order_status | translate | uppercase}}</span></p>
    <ng-template #failed>
        <p>{{"dialog-details.order-stat" | translate | titlecase}} : <span class="status-transaction" [ngStyle]="{background:'red'}">{{"status."+detailsTrans?.order_status | translate | uppercase}}</span></p>
    </ng-template>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="warn">{{"dialog-details.close-btn" | translate | titlecase}}</button>
</mat-dialog-actions>
