<div class="home">
  <div class="cover full-width height-90">
    <div class="home-welcome">
      <h2>Welcome To Indonesian Cuisine</h2>
      <p>
        We Have Many Variety Indonesian Food From Sabang To Merauke. You Can
        Choose and Order It without Worry. Please Come And Join Us.
      </p>
      <div class="home-button">
        <button mat-flat-button class="color-secondary" (click)="loginPage()">
          {{"home-page.order-now" | translate | titlecase}} <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>
    <div class="highlight-mode">
      <button (click)="onLeft('highlight')" matSuffix mat-icon-button class=""><mat-icon>keyboard_arrow_left</mat-icon></button>
      <div class="width-60 scrolling-wrapper  mr-right-1 mr-left-1" id="highlight">
        <app-menu-higlight *ngFor="let item of menuHighlight" [itemMenu]="item" class="card mr-bottom-2" ></app-menu-higlight>
      </div>
      <button (click)="onRight('highlight')" matSuffix mat-icon-button class="mr-left-1"><mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
  </div>
</div>
<div class="height-90 color-primary offer">
  <h2>Special Offer</h2>
  <div class="offer-mode">
    <button (click)="onLeft('offer')" matSuffix mat-icon-button class=""><mat-icon>keyboard_arrow_left</mat-icon></button>
    <div class="width-70 scrolling-wrapper  mr-right-1 mr-left-1" id="offer">
        <app-special-offer  *ngFor="let item of menuOffer" [itemMenu]="item"></app-special-offer>
    </div>
    <button (click)="onRight('offer')" matSuffix mat-icon-button class="mr-left-1"><mat-icon>keyboard_arrow_right</mat-icon></button>
  </div>
</div>
<div class="height-80 color-trinary">
  <div class="dp-block width-80">
    <div class="achieve height-80">
      <div class="order">
        <h1>10.000</h1>
        <p>Order Was Deliverd</p>
      </div>
      <div class="score">
        <h1>4.9<img src="/assets/img/star.png" /></h1>
        <p>Google Score</p>
      </div>
      <div class="receipt">
        <h1>1000</h1>
        <p>Receipt We Have</p>
      </div>
      <div class="natural">
        <h1>100%</h1>
        <p>Natural Product We Use</p>
      </div>
    </div>
  </div>
</div>
<div>
  <app-about-page></app-about-page>
</div>