<div class="home height-60 color-trinary">
  <div class="home-welcome">
    <h2>Welcome To Indonesian Cuisine</h2>
    <p>
      We Have Many Variety Indonesian Food From Sabang To Merauke. You Can
      Choose and Order It without Worry. Please Come And Join Us.
    </p>
    <div class="home-button">
      <button mat-flat-button class="color-secondary" (click)="loginPage()">
        {{"home-page.order-now" | translate | titlecase}} <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
  <div class="home-img">
    <img
      src="https://images.unsplash.com/photo-1626497862618-4aa68df390fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80"
      alt="img-landing"
    />
  </div>
</div>
<div class="height-80 color-primary">
  <div class="dp-block width-80">
    <div class="achieve height-80">
      <div class="order">
        <h1>10.000</h1>
        <p>Order Was Deliverd</p>
      </div>
      <div class="score">
        <h1>4.9<img src="/assets/img/star.png" /></h1>
        <p>Google Score</p>
      </div>
      <div class="receipt">
        <h1>1000</h1>
        <p>Receipt We Have</p>
      </div>
      <div class="natural">
        <h1>100%</h1>
        <p>Natural Product We Use</p>
      </div>
    </div>
  </div>
</div>
<div class="height-80 color-trinary">
  <div class="dp-block width-80 best-menu">
    <h2>Our Bests Menu</h2>
    <div class="card">
      <mat-card>
        <img
          class="dp-block"
          mat-card-img
          src="https://images.unsplash.com/photo-1534939561126-855b8675edd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
          alt="food-img"
        />
        <mat-card-title>Pecel Lele</mat-card-title>
        <mat-card-content class="dp-block"
          >Indonesian Cuisine That Many People Like It How Deep The Flavour
          Touches Your Tounge And Make It You Feel Journey in
          Indonesian.</mat-card-content
        >
      </mat-card>
      <mat-card>
        <img
          class="dp-block"
          mat-card-img
          src="https://images.unsplash.com/photo-1534939561126-855b8675edd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
          alt="food-img"
        />
        <mat-card-title>Gado-Gado</mat-card-title>
        <mat-card-content class="dp-block"
          >Indonesian Cuisine That Many People Like It How Deep The Flavour
          Touches Your Tounge And Make It You Feel Journey in
          Indonesian.</mat-card-content
        >
      </mat-card>
      <mat-card>
        <img
          class="dp-block"
          mat-card-img
          src="https://images.unsplash.com/photo-1534939561126-855b8675edd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
          alt="food-img"
        />
        <mat-card-title>Sate Ayam</mat-card-title>
        <mat-card-content class="dp-block"
          >Indonesian Cuisine That Many People Like It How Deep The Flavour
          Touches Your Tounge And Make It You Feel Journey in
          Indonesian.</mat-card-content
        >
      </mat-card>
    </div>
  </div>
</div>