<div class="home">
  <div class="cover full-width height-90">
    <div class="home-welcome">
      <h2>{{"title.welcome" | translate | titlecase}}</h2>
      <p>{{"home.text" | translate}}</p>
      <div class="home-button">
        <button mat-flat-button class="color-secondary" (click)="loginPage()">
          {{"home-page.order-now" | translate | titlecase}} <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>
    <div class="absolute">
      <div class="highlight-mode">
        <button (click)="onLeft('highlight')" matSuffix mat-icon-button class=""><mat-icon>keyboard_arrow_left</mat-icon></button>
        <div class="width-absolute scrolling-wrapper mr-right-1 mr-left-1" id="highlight">
          <div *ngIf="menureloadhigh; else menuShowHigh" class="high">
            <mat-spinner></mat-spinner>
          </div>
          <ng-template #menuShowHigh>
            <app-menu-higlight *ngFor="let item of menuHighlight" [itemMenu]="item" class="card mr-bottom-2" ></app-menu-higlight>
          </ng-template>
        </div>
        <button (click)="onRight('highlight')" matSuffix mat-icon-button class="mr-left-1"><mat-icon>keyboard_arrow_right</mat-icon></button>
      </div>
    </div>
  </div>
</div>
<div class="height-90 color-primary offer">
  <h2>{{"table.offer" | translate | titlecase}}</h2>
  <div class="offer-mode">
    <button (click)="onLeft('offer')" matSuffix mat-icon-button class=""><mat-icon>keyboard_arrow_left</mat-icon></button>
    <div class="scrolling-wrapper  mr-right-1 mr-left-1" id="offer" [ngClass]="menuOffer.length > 4? 'width-80':''">
      <div *ngIf="menureloadoffer; else menuShowOffer" class="offer">
        <mat-spinner></mat-spinner>
      </div>
      <ng-template #menuShowOffer>
        <app-special-offer  *ngFor="let item of menuOffer" [itemMenu]="item" class="card mr-bottom-2"></app-special-offer>
      </ng-template>
    </div>
    <button (click)="onRight('offer')" matSuffix mat-icon-button class="mr-left-1"><mat-icon>keyboard_arrow_right</mat-icon></button>
  </div>
</div>
<div class="height-80 color-trinary">
  <div class="dp-block width-80">
    <div class="achieve height-80">
      <div class="order">
        <h1>10.000</h1>
        <p>{{"home.order" | translate}}</p>
      </div>
      <div class="score">
        <h1>4.9<img src="/assets/img/star.png" /></h1>
        <p>{{"home.google" | translate}}</p>
      </div>
      <div class="receipt">
        <h1>1000</h1>
        <p>{{"home.receipt" | translate}}</p>
      </div>
      <div class="natural">
        <h1>100%</h1>
        <p>{{"home.natural" | translate}}</p>
      </div>
    </div>
  </div>
</div>
<div>
  <app-about-page></app-about-page>
</div>