/* home */
.home{
    background-image: url("https://images.unsplash.com/photo-1626497862618-4aa68df390fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.cover{
    display: flex;
    background-color: rgba(255, 253, 227, 0.8);
    overflow-x: hidden;
    align-items: center;
    justify-content: space-between;
}

.home-welcome{
    margin: 0 10rem;
}

.home-welcome h2{
    font-size: 2rem;
}

.home-welcome p{
    width: 300px;
    font-size: 1rem;
}

.home-button {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    width: 70%;
}

.home-button button {
    color: white;
    border-radius: 2rem;
    padding: 0.2rem 3rem;
}

.home-button button .arrow{
    font-size: 1.2rem;
    align-self: center;
}

/* achieve */
.achieve {
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.order h1, .score h1, .receipt h1, .natural h1{
    font-size: 3rem;
    text-align: center;
}

.order p, .score p, .receipt p, .natural p{
    margin-top: 2rem;
    font-size: 1rem;
    text-align: center;
}

.score img{
    width: 40px;
    padding-left: 1rem;
}

/* best-menu */
.best-menu {
    padding-top: 3rem;
}

.best-menu h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}

.home-button button:hover{
    color: black;
}

.absolute{
    position: absolute;
    left: 50%;
}

.width-absolute{
    width: 600px;
}

.scrolling-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.scrolling-wrapper::-webkit-scrollbar{
    display: none;
}

.highlight-mode, .offer-mode{
    display: flex;
    align-items: center;
}

.highlight-mode button{
    background-color: #c21010;
    color: white;
}

.offer-mode button{
    background-color: #fffde3;
}

.offer-mode{
    justify-content: center;
}

.offer h2{
    text-align: center;
    font-size: 2rem;
    padding: 2rem 0;
    color: white;
}

.highlight-mode ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #c21010;
}

.highlight-mode .high, .offer-mode .offer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.offer-mode ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #fffde3;
}