<mat-card [id]="itemMenu.id">
  <div class="label-tag" *ngIf="itemMenu?.menu_highlight == true">
    <p>{{"table.highlight" | translate | titlecase}}</p>
  </div>
  <div [ngClass]="itemMenu?.available == 0 ? 'greyout' : ''">
    <img
      *ngIf="itemMenu?.image != ''; else menuImageNone"
      class="dp-block-1-2"
      [src]="itemMenu?.image"
      alt="menu image"
      (error)="onImageError($event)"
    />
    <ng-template #menuImageNone>
      <img
        class="dp-block-1-2"
        src="https://images.unsplash.com/photo-1534939561126-855b8675edd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
        alt="menu image"
      />
    </ng-template>
  </div>
  <mat-card-title>
    {{ itemMenu?.recipe_name | titlecase }}
    <p *ngIf="itemMenu?.available < 1"  class="top">{{"menu-list.notif-soldout" | translate | titlecase}}</p>
  </mat-card-title>
  <div class="group-item">
    <div class="price-item" *ngIf="itemMenu?.special_offers == false; else hasOffer">
      <mat-card-subtitle>{{"table.price" | translate | titlecase}}</mat-card-subtitle>
      <h2> {{ itemMenu?.price | currReplace }}</h2>
    </div>
    <ng-template #hasOffer>
      <div class="price-item">
        <mat-card-subtitle>{{"table.price" | translate | titlecase}}</mat-card-subtitle>
        <h2>{{ itemMenu?.afterDiscount | currReplace}}</h2>
        <label class="discount">{{itemMenu?.discount}} %</label>
        <label class="price">{{ itemMenu?.price | currReplace }}</label>
      </div>
    </ng-template>
    <div class="avail-item">
      <mat-card-subtitle>{{"table.available" | translate | titlecase}}</mat-card-subtitle>
      <h2>{{ itemMenu?.available }}</h2>
    </div>
  </div>
  <mat-card-actions align="center" *ngIf="itemMenu?.available > 0; else stockRunOut">
    <button
      mat-flat-button
      color="addcart"
      class="add-cart"
      (click)="addToCart(itemMenu?.id)"
    >
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
  <ng-template #stockRunOut>
    <mat-card-actions align="center">
      <button
        mat-flat-button
        class="add-cart"
        disabled="true"
      >
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </mat-card-actions>
  </ng-template>
</mat-card>
