.example-full-width {
  width: 100%;
}

.example-50-width {
  width: 90%;
}

.dialog-container {
  display: flex;
  flex-direction: column;
}

.dialog-container > * {
  width: 500px;
}

mat-form-field{
    margin-bottom: 1rem;
}

mat-radio-group{
    margin-bottom: 1.2rem;
}
